extends layout

block content
    each author in authors
        ul
            li= author.first_name
            li= author.family_name
            li= author.date_of_birth
            li= author.date_of_death
            li= author.lifespan
            li= author.url
            li  date de naissance formatée : #{author.formated_date_of_birth}
            li  date de mort formatée : #{author.formated_date_of_death}