extends layout

block content
            ul
              li
                a Nombres de livres : #{results.bookCount}
              li
                a Copies : #{results.copies}
              li
                a Available copies : #{results.availableCopies}
              li
                a Authors : #{results.authorCount}
              li
                a Genres : #{results.genreCount}